# Environment variables
.env
.env.*
!.env.example
!.env.sample
!.env.template
*.env
.venv/
venv/
*.venv
.venv.*
.DS_Store
**/.DS_Store

*.zip
*.db
*.pdf
*.pt
**/chroma_regulations/**
**/chroma_store/**

**/__pycache__/

**/data/**

*.csv
**/models/**

**/16.3 slack API 활용하기.ipynb